<v-ons-page data-page="h-vuereau">
  <custom-bar title="" menu="true" modifier="transparent">
    <v-ons-toolbar-button @click="getBalance" @click.right="serverDlg=true">
      <v-ons-icon icon="ion-ios-loop-strong"></v-ons-icon>
    </v-ons-toolbar-button>
  </custom-bar>
  <div>
    <div v-show="requirePassword" class="wrap">
      <p>パスワードを入力して下さい。</p>
      <div :class="{shake:incorrect}" class="passwordBox">
        <input :disabled="loading" type="password" v-model="password" @keydown.enter="decrypt"/>
      </div>
      <v-ons-button modifier="large" @click="decrypt" :disabled="loading">はじめる</v-ons-button>
    </div>
    <div v-show="address">
      <div id="top" v-show="menu==='top'">
        <div id="banner"></div>
        <v-ons-list>
          <v-ons-list-item>
            <v-ons-button modifier="large" @click="menu='register'">きろくをのこす</v-ons-button>
          </v-ons-list-item>
          <v-ons-list-item>
            <v-ons-button modifier="large" @click="menu='audit'">きろくをみる</v-ons-button>
          </v-ons-list-item>
          <v-ons-list-item>
            現在、日本では仮想通貨関連法による様々な規制があり、ちょっとしたことでも慎重になってしまいます。ですが、私はあることに気がつきました。 <br><br> <b>「ブロックチェーンで結婚する法律が未整備じゃん！」</b> <br/><br/>そこで私はNEMブロックチェーンの特性を最大限活用して、ブロックチェーンに永遠の愛を刻むアプリを作りました。<br><br>
            本アプリは、好意の表明→婚約→性的合意→離婚という一連のプロセスをNEMブロックチェーンに書き込むことができます。<span style="font-size:small">必ずしも離婚する必要はありません</span><br/><br>なのでたぶん世界最速のNEM公証発行アプリです。
          </v-ons-list-item>
        </v-ons-list>
      </div>

      <div id="register" v-show="menu==='register'">
        <v-ons-list>
          <v-ons-list-item @click="menu='top'">
            <div class="left">
              <v-ons-icon icon="fa-arrow-left"></v-ons-icon>
            </div>
            <div class="center">戻る</div>
          </v-ons-list-item>
          <v-ons-list-item>
            <div class="center">
              <v-ons-input v-model="s1" placeholder="誰"></v-ons-input>
            </div>
            <div class="right">
              {{alone?'は':'と'}}
            </div>
          </v-ons-list-item>
          <v-ons-list-item v-show="!alone">
            <div class="center">
              <v-ons-input v-model="s2" placeholder="誰"></v-ons-input>
            </div>
            <div class="right">
              は
            </div>
          </v-ons-list-item>
          <v-ons-list-item>
            <div class="right">
              <v-ons-select v-model="verb">
                <option v-for="verb in verbs" :value="verb.id">{{verb.name}}</option>
              </v-ons-select>
            </div>
          </v-ons-list-item>
          <v-ons-list-item v-for="(k,v) in verbArg">
            <div class="center">{{k}}</div>
            <div class="right">
              <v-ons-input v-model="args[v]"></v-ons-input>
            </div>
          </v-ons-list-item>
          <v-ons-list-header>確認</v-ons-list-header>
          <v-ons-list-item>
            <div class="center">アポスティーユ文字列</div>
            <div class="right"><v-ons-input :value="apostilleStr"></v-ons-input></div>
          </v-ons-list-item>
          <v-ons-list-item>
            <v-ons-button modifier="large" @click="send" :disabled="!s1||(!alone&&!s2)">きろく</v-ons-button>
          </v-ons-list-item>
        </v-ons-list>
      </div>
      <div id="audit" v-show="menu==='audit'">
        <v-ons-list>
          <v-ons-list-item @click="menu='top'">
            <div class="left">
              <v-ons-icon icon="fa-arrow-left"></v-ons-icon>
            </div>
            <div class="center">戻る</div>
          </v-ons-list-item>
          <v-ons-list-item>
            <textarea style="width:100%" class="textarea--transparent" v-model="auditStr" placeholder="波括弧で囲まれた文字列を打ち込もう"></textarea>
          </v-ons-list-item>
          <v-ons-list-item>
            <v-ons-button modifier="large" @click="check">チェック</v-ons-button>
          </v-ons-list-item>
          <v-ons-list-item v-show="checkData.verb">
            {{checkData.s1}}{{checkData.s2&&("と"+checkData.s2)}}は{{getVerb(checkData.verb)}}<br />
          </v-ons-list-item>
          <v-ons-list-item v-for="(v,i) in checkData.args">
            <div class="center">{{getVerbArgName(checkData.verb,i)}}</div>
            <div class="right">{{v}}</div>
          </v-ons-list-item>
          <v-ons-list-item v-show="checkData.error">
            失敗したかエラーです
          </v-ons-list-item>
        </v-ons-list>
      </div>
    </div>
  </div>
  <v-ons-modal :visible="loading">
    <p style="text-align: center">
      処理中
      <br><br>
      <div class="spinner"></div>
      <br/>
    </p>
  </v-ons-modal>
  <v-ons-alert-dialog
    modifier="rowfooter"
    :visible.sync="confirm"
    >
    <span slot="title">確認</span>
    <p v-if="apostille.transaction">Fee: {{apostille.transaction.fee/1e6}}</p>
    <template slot="footer">
      <div class="alert-dialog-button" @click="broadcast">あぽすていゆ</div>
      <div class="alert-dialog-button" @click="confirm=false">やめて</div>
    </template>
  </v-ons-alert-dialog>

  <v-ons-alert-dialog
    modifier="rowfooter"
    :visible.sync="success"
    >
    <span slot="title">みんなにしらせよう</span>
    <p v-if="apostille.transaction">
      <textarea cols="20" rows="10" :value="shareStr"></textarea>
    </p>

    <v-ons-button modifier="quiet" @click="tweet(getUrl(shareStr))">Twitterでシェア</v-ons-button>
    <template slot="footer">
      <div class="alert-dialog-button" @click="share">シェア / コピー</div>
      <div class="alert-dialog-button" @click="success=false">やめて</div>
    </template>
  </v-ons-alert-dialog>

  <v-ons-alert-dialog
    modifier="rowfooter"
    :visible.sync="serverDlg"
    >
    <span slot="title">サーバー変更</span>
    <p><v-ons-input v-model="server" placeholder="shibuya.supernode.me:7891" @change="setServer"></v-ons-input></p>
    
    <template slot="footer">
      <div class="alert-dialog-button" @click="serverDlg=false">閉じる</div>
    </template>
  </v-ons-alert-dialog>
</v-ons-page>
