<v-ons-page data-page="h-vuereau">
  <custom-bar title="" menu="true" modifier="transparent">
    <v-ons-toolbar-button @click="getBalance" @click.right="serverDlg=true">
      <v-ons-icon icon="ion-ios-loop-strong"></v-ons-icon>
    </v-ons-toolbar-button>
  </custom-bar>
  <div>
    <div v-show="requirePassword" class="wrap">
      <p>パスワードを入力して下さい。</p>
      <div :class="{shake:incorrect}" class="passwordBox">
        <input :disabled="loading" type="password" v-model="password" @keydown.enter="decrypt"/>
      </div>
      <v-ons-button modifier="large" @click="decrypt" :disabled="loading">はじめる</v-ons-button>
    </div>
    <div v-show="address">
      <div id="top" v-show="menu==='top'">
        <div id="banner"></div>
        <v-ons-list>
          <v-ons-list-item>
            <v-ons-button modifier="large" @click="menu='register'">きろくをのこす</v-ons-button>
          </v-ons-list-item>
          <v-ons-list-item>
            <v-ons-button modifier="large" @click="menu='audit'">きろくをみる</v-ons-button>
          </v-ons-list-item>
        </v-ons-list>
      </div>

      <div id="register" v-show="menu==='register'">
        
      </div>
      <div id="audit" v-show="menu==='audit'">
        
      </div>
    </div>
  </div>
  <v-ons-modal :visible="loading">
    <p style="text-align: center">
      処理中
      <br><br>
      <div class="spinner"></div>
      <br/>
    </p>
  </v-ons-modal>
  <v-ons-alert-dialog
    modifier="rowfooter"
    :visible.sync="confirm"
    >
    <span slot="title">送金確認</span>
    <p>{{sendAddress}}</p>
    <p>{{sendAmount}}</p>
    <p>Fee: {{transactionEntity.fee/1e6}}</p>
    <template slot="footer">
      <div class="alert-dialog-button" @click="broadcast">送金</div>
      <div class="alert-dialog-button" @click="confirm=false">戻る</div>
    </template>
  </v-ons-alert-dialog>

  <v-ons-alert-dialog
    modifier="rowfooter"
    :visible.sync="serverDlg"
    >
    <span slot="title">サーバー変更</span>
    <p><v-ons-input v-model="server" placeholder="shibuya.supernode.me:7891" @change="setServer"></v-ons-input></p>
    
    <template slot="footer">
      <div class="alert-dialog-button" @click="serverDlg=false">閉じる</div>
    </template>
  </v-ons-alert-dialog>
</v-ons-page>
